<div class="contact-message">
    <h2 class="contact-title">tell us your project</h2>
    <form id="contact-form" action="http://whizthemes.com/mail-php/genger/mail.php" method="post" class="contact-form">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input name="first_name" placeholder="Name *" type="text" required>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input name="phone" placeholder="Phone *" type="text" required>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input name="email_address" placeholder="Email *" type="text" required>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <input name="contact_subject" placeholder="Subject *" type="text">
            </div>
            <div class="col-12">
                <div class="contact2-textarea text-center">
                    <textarea placeholder="Message *" name="message" class="form-control2" required=""></textarea>
                </div>
                <div class="contact-btn">
                    <button class="btn" type="submit">Send Message</button>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <p class="form-messege"></p>
            </div>
        </div>
    </form>
</div>